:root {
  --green: #34c759;
  --orange: #e6b127;
  --red: #f06a4d;
  --firm: #9873ff;
  --grey: #c8c5d1;
  --txt-grey: #b0b0b0;
  --black: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
}

main {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
  min-height: 90px;
  box-shadow: 0 3px 6px 0 rgba(176, 190, 197, 0.32),
    0 9px 27px 0 rgba(176, 190, 197, 0.32);
  background: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 53px;
}

.header__link-logo:focus {
  outline: none;
}

.header__form {
  max-width: 580px;
  width: 100%;
}

.header__input {
  padding: 12px 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  width: 100%;
  font-size: 14px;
  color: #000;
  transition: border-color 0.3s ease-in-out;
}

.header__input:focus {
  outline: none;
}

.header__input:focus-visible {
  border-color: var(--firm);
}

@media (any-hover: hover) {
  .header__input:hover {
    border-color: var(--firm);
  }
}

.header__input:active {
  border-color: var(--firm);
}

.header__input::placeholder {
  color: var(--txt-grey);
}

.header__inner {
  position: relative;
}

.header__list {
  position: absolute;
  left: 0;
  top: 42px;
  width: 100%;
  list-style-type: none;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header__item {
  width: 100%;
}

.header__link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
  padding: 0;
}

.contacts {
  padding: 40px 0;
}

.contacts__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}

.contacts__content {
  position: relative;
  margin-bottom: 40px;
  min-height: 100px;
}

.table {
  width: 100%;
  overflow-x: scroll;
  border-collapse: collapse;
  background-color: #fff;
}

.table__head {
  border: none;
  background-color: #f5f5f5;
}

.table__body {
  position: relative;
}

.table__title {
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  text-align: left;
  cursor: pointer;
  color: var(--txt-grey);
  background-color: #f5f5f5;
}

.table__title--active .table__default {
  opacity: 1;
}

.table__title--active {
  color: var(--firm);
}

.table__title-letter {
  font-weight: 600;
  font-size: 10px;
  color: var(--firm);
}

.table__title--up svg {
  transform: rotate(180deg);
}

.table__default {
  opacity: 0.7;
}

.loader-block {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  height: calc(100% - 43px);
  z-index: 100;
  background-color: #fff;
}

.table__loader {
  background-color: #fff;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 20C2 29.941 10.059 38 20 38C29.941 38 38 29.941 38 20C38 10.059 29.941 2 20 2C17.6755 2 15.454 2.4405 13.414 3.243' stroke='%239873FF' stroke-width='4' stroke-miterlimit='10' stroke-linecap='round' /%3E%3C/svg%3E");
  animation: 2s infinite rotate;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.contacts__button {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 216px;
  padding: 13px 25px 13px 58px;
  border: 1px solid var(--firm);
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: var(--firm);
  background-color: #fff;
}

.contacts__button::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 50%;
  width: 23px;
  height: 16px;
  background-image: url("../img/icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.table__client td {
  padding: 10px;
  height: 60px;
}

.table__id {
  font-size: 12px;
  color: var(--txt-grey);
}

.table__name {
  width: 225px;
  font-size: 14px;
  color: var(--black);
}

.table__time {
  font-size: 14px;
}

.table__date {
  margin-right: 10px;
  color: var(--black);
}

.table__clock {
  color: var(--txt-grey);
}

.table__action {
  display: flex;
  align-items: center;
  gap: 15px;
}

.table__contact {
  width: 130px;
}

.btn {
  position: relative;
  display: inline-block;
  padding-left: 16px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: var(--black);
  background: transparent;
  transform: translateY(5px);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn__edit::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7' clip-path='url(%23clip0_216_219)'%3E%3Cpath d='M2 11.5002V14.0002H4.5L11.8733 6.62687L9.37333 4.12687L2 11.5002ZM13.8067 4.69354C14.0667 4.43354 14.0667 4.01354 13.8067 3.75354L12.2467 2.19354C11.9867 1.93354 11.5667 1.93354 11.3067 2.19354L10.0867 3.41354L12.5867 5.91354L13.8067 4.69354Z' fill='%239873FF' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_216_219'%3E%3Crect width='16' height='16' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.btn__delete::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7' clip-path='url(%23clip0_216_224)'%3E%3Cpath d='M8 2C4.682 2 2 4.682 2 8C2 11.318 4.682 14 8 14C11.318 14 14 11.318 14 8C14 4.682 11.318 2 8 2ZM8 12.8C5.354 12.8 3.2 10.646 3.2 8C3.2 5.354 5.354 3.2 8 3.2C10.646 3.2 12.8 5.354 12.8 8C12.8 10.646 10.646 12.8 8 12.8ZM10.154 5L8 7.154L5.846 5L5 5.846L7.154 8L5 10.154L5.846 11L8 8.846L10.154 11L11 10.154L8.846 8L11 5.846L10.154 5Z' fill='%23F06A4D' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_216_224'%3E%3Crect width='16' height='16' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.btn__edit--wait::before {
  background-image: none;
}

.contact__flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.contact__block {
  position: relative;
}

.contact__content {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.contact__content--phone {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Ccircle cx='8' cy='8' r='8' fill='%239873FF'/%3E%3Cpath d='M11.56 9.50222C11.0133 9.50222 10.4844 9.41333 9.99111 9.25333C9.83556 9.2 9.66222 9.24 9.54222 9.36L8.84444 10.2356C7.58667 9.63556 6.40889 8.50222 5.78222 7.2L6.64889 6.46222C6.76889 6.33778 6.80444 6.16444 6.75556 6.00889C6.59111 5.51556 6.50667 4.98667 6.50667 4.44C6.50667 4.2 6.30667 4 6.06667 4H4.52889C4.28889 4 4 4.10667 4 4.44C4 8.56889 7.43556 12 11.56 12C11.8756 12 12 11.72 12 11.4756V9.94222C12 9.70222 11.8 9.50222 11.56 9.50222Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.contact__block:hover .contact__content--phone {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ccircle cx='8' cy='8' r='8' fill='%239873FF'/%3E%3Cpath d='M11.56 9.50222C11.0133 9.50222 10.4844 9.41333 9.99111 9.25333C9.83556 9.2 9.66222 9.24 9.54222 9.36L8.84444 10.2356C7.58667 9.63556 6.40889 8.50222 5.78222 7.2L6.64889 6.46222C6.76889 6.33778 6.80444 6.16444 6.75556 6.00889C6.59111 5.51556 6.50667 4.98667 6.50667 4.44C6.50667 4.2 6.30667 4 6.06667 4H4.52889C4.28889 4 4 4.10667 4 4.44C4 8.56889 7.43556 12 11.56 12C11.8756 12 12 11.72 12 11.4756V9.94222C12 9.70222 11.8 9.50222 11.56 9.50222Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.contact__content--email {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM4 5.75C4 5.3375 4.36 5 4.8 5H11.2C11.64 5 12 5.3375 12 5.75V10.25C12 10.6625 11.64 11 11.2 11H4.8C4.36 11 4 10.6625 4 10.25V5.75ZM8.424 8.1275L11.04 6.59375C11.14 6.53375 11.2 6.4325 11.2 6.32375C11.2 6.0725 10.908 5.9225 10.68 6.05375L8 7.625L5.32 6.05375C5.092 5.9225 4.8 6.0725 4.8 6.32375C4.8 6.4325 4.86 6.53375 4.96 6.59375L7.576 8.1275C7.836 8.28125 8.164 8.28125 8.424 8.1275Z' fill='%239873FF'/%3E%3C/svg%3E%0A");
}

.contact__block:hover .contact__content--email {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM4 5.75C4 5.3375 4.36 5 4.8 5H11.2C11.64 5 12 5.3375 12 5.75V10.25C12 10.6625 11.64 11 11.2 11H4.8C4.36 11 4 10.6625 4 10.25V5.75ZM8.424 8.1275L11.04 6.59375C11.14 6.53375 11.2 6.4325 11.2 6.32375C11.2 6.0725 10.908 5.9225 10.68 6.05375L8 7.625L5.32 6.05375C5.092 5.9225 4.8 6.0725 4.8 6.32375C4.8 6.4325 4.86 6.53375 4.96 6.59375L7.576 8.1275C7.836 8.28125 8.164 8.28125 8.424 8.1275Z' fill='%239873FF'/%3E%3C/svg%3E%0A");
}

.contact__content--fb {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath d='M7.99999 0C3.6 0 0 3.60643 0 8.04819C0 12.0643 2.928 15.3976 6.75199 16V10.3775H4.71999V8.04819H6.75199V6.27309C6.75199 4.25703 7.94399 3.14859 9.77599 3.14859C10.648 3.14859 11.56 3.30121 11.56 3.30121V5.28514H10.552C9.55999 5.28514 9.24799 5.90362 9.24799 6.53815V8.04819H11.472L11.112 10.3775H9.24799V16C11.1331 15.7011 12.8497 14.7354 14.0879 13.2772C15.3261 11.819 16.0043 9.96437 16 8.04819C16 3.60643 12.4 0 7.99999 0Z' fill='%239873FF'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.contact__block:hover .contact__content--fb {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99999 0C3.6 0 0 3.60643 0 8.04819C0 12.0643 2.928 15.3976 6.75199 16V10.3775H4.71999V8.04819H6.75199V6.27309C6.75199 4.25703 7.94399 3.14859 9.77599 3.14859C10.648 3.14859 11.56 3.30121 11.56 3.30121V5.28514H10.552C9.55999 5.28514 9.24799 5.90362 9.24799 6.53815V8.04819H11.472L11.112 10.3775H9.24799V16C11.1331 15.7011 12.8497 14.7354 14.0879 13.2772C15.3261 11.819 16.0043 9.96437 16 8.04819C16 3.60643 12.4 0 7.99999 0Z' fill='%239873FF'/%3E%3C/svg%3E%0A");
}

.contact__content--vk {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath d='M8 0C3.58187 0 0 3.58171 0 8C0 12.4183 3.58187 16 8 16C12.4181 16 16 12.4183 16 8C16 3.58171 12.4181 0 8 0ZM12.058 8.86523C12.4309 9.22942 12.8254 9.57217 13.1601 9.97402C13.3084 10.1518 13.4482 10.3356 13.5546 10.5423C13.7065 10.8371 13.5693 11.1604 13.3055 11.1779L11.6665 11.1776C11.2432 11.2126 10.9064 11.0419 10.6224 10.7525C10.3957 10.5219 10.1853 10.2755 9.96698 10.037C9.87777 9.93915 9.78382 9.847 9.67186 9.77449C9.44843 9.62914 9.2543 9.67366 9.1263 9.90707C8.99585 10.1446 8.96606 10.4078 8.95362 10.6721C8.93577 11.0586 8.81923 11.1596 8.43147 11.1777C7.60291 11.2165 6.81674 11.0908 6.08606 10.6731C5.44147 10.3047 4.94257 9.78463 4.50783 9.19587C3.66126 8.04812 3.01291 6.78842 2.43036 5.49254C2.29925 5.2007 2.39517 5.04454 2.71714 5.03849C3.25205 5.02817 3.78697 5.02948 4.32188 5.03799C4.53958 5.04143 4.68362 5.166 4.76726 5.37142C5.05633 6.08262 5.4107 6.75928 5.85477 7.38684C5.97311 7.55396 6.09391 7.72059 6.26594 7.83861C6.45582 7.9689 6.60051 7.92585 6.69005 7.71388C6.74734 7.57917 6.77205 7.43513 6.78449 7.29076C6.82705 6.79628 6.83212 6.30195 6.75847 5.80943C6.71263 5.50122 6.53929 5.30218 6.23206 5.24391C6.07558 5.21428 6.0985 5.15634 6.17461 5.06697C6.3067 4.91245 6.43045 4.81686 6.67777 4.81686L8.52951 4.81653C8.82136 4.87382 8.88683 5.00477 8.92645 5.29874L8.92808 7.35656C8.92464 7.47032 8.98521 7.80751 9.18948 7.88198C9.35317 7.936 9.4612 7.80473 9.55908 7.70112C10.0032 7.22987 10.3195 6.67368 10.6029 6.09801C10.7279 5.84413 10.8358 5.58142 10.9406 5.31822C11.0185 5.1236 11.1396 5.02785 11.3593 5.03112L13.1424 5.03325C13.195 5.03325 13.2483 5.03374 13.3004 5.04274C13.6009 5.09414 13.6832 5.22345 13.5903 5.5166C13.4439 5.97721 13.1596 6.36088 12.8817 6.74553C12.5838 7.15736 12.2661 7.55478 11.9711 7.96841C11.7001 8.34652 11.7215 8.53688 12.058 8.86523Z' fill='%239873FF'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.contact__block:hover .contact__content--vk {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.58187 0 0 3.58171 0 8C0 12.4183 3.58187 16 8 16C12.4181 16 16 12.4183 16 8C16 3.58171 12.4181 0 8 0ZM12.058 8.86523C12.4309 9.22942 12.8254 9.57217 13.1601 9.97402C13.3084 10.1518 13.4482 10.3356 13.5546 10.5423C13.7065 10.8371 13.5693 11.1604 13.3055 11.1779L11.6665 11.1776C11.2432 11.2126 10.9064 11.0419 10.6224 10.7525C10.3957 10.5219 10.1853 10.2755 9.96698 10.037C9.87777 9.93915 9.78382 9.847 9.67186 9.77449C9.44843 9.62914 9.2543 9.67366 9.1263 9.90707C8.99585 10.1446 8.96606 10.4078 8.95362 10.6721C8.93577 11.0586 8.81923 11.1596 8.43147 11.1777C7.60291 11.2165 6.81674 11.0908 6.08606 10.6731C5.44147 10.3047 4.94257 9.78463 4.50783 9.19587C3.66126 8.04812 3.01291 6.78842 2.43036 5.49254C2.29925 5.2007 2.39517 5.04454 2.71714 5.03849C3.25205 5.02817 3.78697 5.02948 4.32188 5.03799C4.53958 5.04143 4.68362 5.166 4.76726 5.37142C5.05633 6.08262 5.4107 6.75928 5.85477 7.38684C5.97311 7.55396 6.09391 7.72059 6.26594 7.83861C6.45582 7.9689 6.60051 7.92585 6.69005 7.71388C6.74734 7.57917 6.77205 7.43513 6.78449 7.29076C6.82705 6.79628 6.83212 6.30195 6.75847 5.80943C6.71263 5.50122 6.53929 5.30218 6.23206 5.24391C6.07558 5.21428 6.0985 5.15634 6.17461 5.06697C6.3067 4.91245 6.43045 4.81686 6.67777 4.81686L8.52951 4.81653C8.82136 4.87382 8.88683 5.00477 8.92645 5.29874L8.92808 7.35656C8.92464 7.47032 8.98521 7.80751 9.18948 7.88198C9.35317 7.936 9.4612 7.80473 9.55908 7.70112C10.0032 7.22987 10.3195 6.67368 10.6029 6.09801C10.7279 5.84413 10.8358 5.58142 10.9406 5.31822C11.0185 5.1236 11.1396 5.02785 11.3593 5.03112L13.1424 5.03325C13.195 5.03325 13.2483 5.03374 13.3004 5.04274C13.6009 5.09414 13.6832 5.22345 13.5903 5.5166C13.4439 5.97721 13.1596 6.36088 12.8817 6.74553C12.5838 7.15736 12.2661 7.55478 11.9711 7.96841C11.7001 8.34652 11.7215 8.53688 12.058 8.86523Z' fill='%239873FF'/%3E%3C/svg%3E%0A");
}

.contact__content--other {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM3 8C3 5.24 5.24 3 8 3C10.76 3 13 5.24 13 8C13 10.76 10.76 13 8 13C5.24 13 3 10.76 3 8ZM9.5 6C9.5 5.17 8.83 4.5 8 4.5C7.17 4.5 6.5 5.17 6.5 6C6.5 6.83 7.17 7.5 8 7.5C8.83 7.5 9.5 6.83 9.5 6ZM5 9.99C5.645 10.96 6.75 11.6 8 11.6C9.25 11.6 10.355 10.96 11 9.99C10.985 8.995 8.995 8.45 8 8.45C7 8.45 5.015 8.995 5 9.99Z' fill='%239873FF'/%3E%3C/svg%3E%0A");
}

.contact__block:hover .contact__content--other {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM3 8C3 5.24 5.24 3 8 3C10.76 3 13 5.24 13 8C13 10.76 10.76 13 8 13C5.24 13 3 10.76 3 8ZM9.5 6C9.5 5.17 8.83 4.5 8 4.5C7.17 4.5 6.5 5.17 6.5 6C6.5 6.83 7.17 7.5 8 7.5C8.83 7.5 9.5 6.83 9.5 6ZM5 9.99C5.645 10.96 6.75 11.6 8 11.6C9.25 11.6 10.355 10.96 11 9.99C10.985 8.995 8.995 8.45 8 8.45C7 8.45 5.015 8.995 5 9.99Z' fill='%239873FF'/%3E%3C/svg%3E%0A");
}

.contact__tooltip {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  gap: 2px;
  padding: 7px 18px;
  width: max-content;
  visibility: hidden;
  opacity: 0;
  font-size: 12px;
  z-index: 10;
  color: #fff;
  background-color: #333;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-50%);
}

.contact__tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.contact__block:hover .contact__tooltip {
  visibility: visible;
  opacity: 1;
}

.contact--value {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #b89eff;
}

.contact__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid var(--firm);
  font-weight: 600;
  font-size: 8px;
  cursor: pointer;
  color: var(--black);
  background-color: transparent;
}

/* modal DELETE */

.modal-delete {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-delete__container {
  position: relative;
  width: 450px;
  height: 215px;
  margin: auto;
  overflow-y: auto;
  background: #fff;
}

.modal-delete__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 20px 27px;
}

.btn-close {
  position: absolute;
  right: 14px;
  top: 17px;
  width: 17px;
  height: 17px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-close::before,
.btn-close::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 1px;
  background-color: #b0b0b0;
  transform: translateY(-50%);
}

.btn-close::before {
  transform: rotate(-45deg);
}

.btn-close::after {
  transform: rotate(45deg);
}

.title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
}

.text {
  font-size: 14px;
  text-align: center;
  color: var(--black);
}

.modal-delete__desc {
  margin-bottom: 25px;
  max-width: 275px;
}

.button {
  position: relative;
  padding: 12px 35px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: var(--firm);
}

.modal-delete__btn {
  margin-bottom: 5px;
}

.modal-delete__cancel {
  border: none;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
  color: var(--black);
  background-color: transparent;
}

/* modal ADD */

.modal-add,
.modal-edit {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal__container {
  position: relative;
  width: 450px;
  margin: auto;
  overflow-y: auto;
  background: #fff;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 24px 30px 29px;
  overflow: hidden;
}

.modal-add__title {
  margin-bottom: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.modal__block {
  position: relative;
  width: 100%;
}

.modal__block:not(:last-child) {
  margin-bottom: 32px;
}

.modal__name {
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 14px;
  color: var(--txt-grey);
  transition: top 0.3s ease-in-out;
}

.modal__name--active {
  top: -15px;
  font-size: 10px;
}

.modal__icon {
  color: var(--firm);
}

.modal__input {
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid var(--grey);
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
  transition: border-color 0.3s ease-in-out;
}

.modal__input--error {
  border-color: red;
}

.input:focus + .modal__name {
  top: -15px;
  font-size: 10px;
}

.modal__input:focus {
  outline: none;
}

.modal__input:focus-visible {
  border-color: var(--firm);
}

@media (any-hover: hover) {
  .modal__input:hover {
    border-color: var(--firm);
  }
}

.modal__input:active {
  border-color: var(--firm);
}

.modal__input--hover {
  border-color: var(--firm);
}

.modal-add__cancel,
.modal-edit__delete {
  border: none;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
  color: var(--black);
  background-color: transparent;
}

.modal__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 8px 30px;
  width: -webkit-fill-available;
  background: rgb(200, 197, 209, 0.3);
}

.modal__btn-contact {
  position: relative;
  padding-left: 20px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  color: var(--black);
  background-color: transparent;
}

.modal__btn-contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_224_8628)'%3E%3Cpath d='M7.99998 4.66659C7.63331 4.66659 7.33331 4.96659 7.33331 5.33325V7.33325H5.33331C4.96665 7.33325 4.66665 7.63325 4.66665 7.99992C4.66665 8.36659 4.96665 8.66659 5.33331 8.66659H7.33331V10.6666C7.33331 11.0333 7.63331 11.3333 7.99998 11.3333C8.36665 11.3333 8.66665 11.0333 8.66665 10.6666V8.66659H10.6666C11.0333 8.66659 11.3333 8.36659 11.3333 7.99992C11.3333 7.63325 11.0333 7.33325 10.6666 7.33325H8.66665V5.33325C8.66665 4.96659 8.36665 4.66659 7.99998 4.66659ZM7.99998 1.33325C4.31998 1.33325 1.33331 4.31992 1.33331 7.99992C1.33331 11.6799 4.31998 14.6666 7.99998 14.6666C11.68 14.6666 14.6666 11.6799 14.6666 7.99992C14.6666 4.31992 11.68 1.33325 7.99998 1.33325ZM7.99998 13.3333C5.05998 13.3333 2.66665 10.9399 2.66665 7.99992C2.66665 5.05992 5.05998 2.66659 7.99998 2.66659C10.94 2.66659 13.3333 5.05992 13.3333 7.99992C13.3333 10.9399 10.94 13.3333 7.99998 13.3333Z' fill='%239873FF' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_224_8628'%3E%3Crect width='16' height='16' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  transform: translateY(-50%);
}

.modal__btn-contact--disactive {
  display: none;
}

.modal__error {
  position: absolute;
  left: 0;
  bottom: -13px;
  font-size: 10px;
  visibility: hidden;
  opacity: 0;
  color: red;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal__error--active {
  visibility: visible;
  opacity: 1;
}

.modal__contact-error {
  position: absolute;
  left: 125px;
  bottom: -13px;
  font-size: 10px;
  visibility: hidden;
  opacity: 0;
  color: red;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal__contact-error--active {
  visibility: visible;
  opacity: 1;
}

.modal__block-contact {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.modal__input-contact {
  flex-grow: 1;
  padding: 9px 12px;
  border: 1px solid var(--grey);
  font-weight: 600;
  font-size: 14px;
  color: #000;
  background: transparent;
  transition: border-color 0.3s ease-in-out;
}

.modal__input-contact--error {
  border-color: red;
}

.modal__input-contact::placeholder {
  color: var(--txt-grey);
}

.modal__input-contact:focus {
  outline: none;
}

.modal__input-contact:focus-visible {
  border-color: var(--firm);
}

@media (any-hover: hover) {
  .modal__input-contact:hover {
    border-color: var(--firm);
  }
}

.modal__close-contact {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid var(--grey);
  width: 27px;
  height: 100%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  background-color: #e7e5eb;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_224_6681)'%3E%3Cpath d='M8 2C4.682 2 2 4.682 2 8C2 11.318 4.682 14 8 14C11.318 14 14 11.318 14 8C14 4.682 11.318 2 8 2ZM8 12.8C5.354 12.8 3.2 10.646 3.2 8C3.2 5.354 5.354 3.2 8 3.2C10.646 3.2 12.8 5.354 12.8 8C12.8 10.646 10.646 12.8 8 12.8ZM10.154 5L8 7.154L5.846 5L5 5.846L7.154 8L5 10.154L5.846 11L8 8.846L10.154 11L11 10.154L8.846 8L11 5.846L10.154 5Z' fill='%23B0B0B0' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_224_6681'%3E%3Crect width='16' height='16' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal__close-contact--active {
  visibility: visible;
  opacity: 1;
}

.modal__list {
  position: absolute;
  left: 0;
  top: 33px;
  width: 123px;
  display: none;
  flex-direction: column;
  gap: 9px;
  padding: 10px 12px;
  border: 1px solid var(--grey);
  z-index: 20;
  list-style-type: none;
  background: #f4f3f6;
}

.modal__item {
  font-size: 12px;
  cursor: pointer;
  color: var(--black);
}

.modal__item--desactive {
  display: none;
}

.modal__list--active {
  display: flex;
}

.modal__btn-list {
  position: relative;
  flex-basis: 123px;
  padding: 10px 12px;
  width: 100%;
  border: 1px solid var(--grey);
  border-right: none;
  text-align: left;
  font-size: 12px;
  cursor: pointer;
  color: var(--black);
  background: #e7e5eb;
}

.modal__btn-list::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_224_6677)'%3E%3Cpath d='M1.49503 3.69003C1.25003 3.93503 1.25003 4.33003 1.49503 4.57503L5.65003 8.73003C5.84503 8.92503 6.16003 8.92503 6.35503 8.73003L10.51 4.57503C10.755 4.33003 10.755 3.93503 10.51 3.69003C10.265 3.44503 9.87003 3.44503 9.62503 3.69003L6.00003 7.31003L2.37503 3.68503C2.13503 3.44503 1.73503 3.44503 1.49503 3.69003Z' fill='%239873FF' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_224_6677'%3E%3Crect width='12' height='12' fill='white' transform='translate(0 12) rotate(-90)' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.modal__btn-list--active::after {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_224_6694)'%3E%3Cpath d='M10.505 8.30997C10.75 8.06497 10.75 7.66997 10.505 7.42497L6.34997 3.26997C6.15497 3.07497 5.83997 3.07497 5.64497 3.26997L1.48997 7.42497C1.24497 7.66997 1.24497 8.06497 1.48997 8.30997C1.73497 8.55497 2.12997 8.55497 2.37497 8.30997L5.99997 4.68997L9.62497 8.31497C9.86497 8.55497 10.265 8.55497 10.505 8.30997Z' fill='%239873FF' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_224_6694'%3E%3Crect width='12' height='12' fill='white' transform='translate(12) rotate(90)' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.modal-add__spinner,
.modal-delete__spinner,
.modal-edit__spinner,
.spinner__edit {
  position: absolute;
  left: 17px;
  bottom: 35%;
  display: none;
  transform: translateY(-50%);
  animation: spinner 0.3s ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner__edit {
  left: 0;
  bottom: 13%;
}

@keyframes spinner {
  0%{
    transform:rotate(0deg)
  }

  100%{
    transform:rotate(360deg)
  }
}

 /* Модальное окно "Изменить" */

.modal-edit__block-top {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 25px;
}

.modal-edit__title {
  margin-bottom: 0;
}

.modal-edit__id {
  font-size: 12px;
  color: var(--txt-grey);
  transform: translateY(2px);
}

.table__client:not(:last-child) {
  border-bottom: 1px solid var(--grey);;
}

.header__link-logo {
  display: block;
}

@media (max-width: 900px) {
  .table__action {
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 560px) {
  .container {
    padding: 0 10px;
  }

  .header {
    min-height: 40px;
    padding: 8px 0;
  }

  .header__content {
    justify-content: center;
  }

  .header__form {
    display: none;
  }

  .header__link-logo img {
    width: 24px;
    height: 24px;
  }

  .table__title[data-type="text"] {
    min-width: 150px;
  }

  .table__title--contact {
    min-width: 130px;
  }

  .table__title--action {
    min-width: 120px;
  }

  .contacts__content {
    overflow-x: auto;
  }

  .modal__container {
    width: 300px;
  }
  
  .modal__content {
    padding: 24px 15px 29px;
  }

  .modal__contacts {
    margin-left: -15px;
    margin-right: -15px;
    padding: 8px 15px;
  }

  .modal__btn-list {
    flex-basis: 110px;
    font-size: 11px;
  }

  .modal__input-contact {
    padding: 9px 5px;
    width: 160px;
  }

  .modal__list {
    width: 111px;
  }

  .modal-edit__block-top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
  }
}
